# =========================
# JetBrains
# =========================
.idea/
*.iml
*.ipr
*.iws

# =========================
# VS Code
# =========================
.vscode/
.history/

# =========================
# Vim / Neovim
# =========================
*.swp
*.swo
*~
Session.vim

# =========================
# Emacs
# =========================
*#
.#*

# =========================
# OS files
# =========================
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
Desktop.ini

# =========================
# Linux temp files
# =========================
.directory

# =========================
# Logs / temp
# =========================
*.log
*.tmp
*.bak
