# keep this file in sync with the two init scripts init_meta.sql and init_tsdb.sql!
# for local DEV and Testing only

# Names for the DBs
META_DB_NAME=monteis-meta
TS_DB_NAME=monteis-tsdb

# Flyway Migration Users
META_FLYWAY_USER=core_flyway
META_FLYWAY_PWD=pwd_core_flyway
TS_FLYWAY_USER=ts_flyway
TS_FLYWAY_PWD=pwd_ts_flyway

# Application User for CoreAPI (CRUD for Metadata, Read for FDW)
CORE_APP_META_DB_USER=core_app
CORE_APP_META_DB_PWD=pwd_core_app
# User for fdw read only
FDW_READ_USER=fdw_user
FDW_READ_PWD=pwd_fdw_user

# Application User for Pipeline (CRUD for Timescale)
PIPELINE_APP_TS_DB_USER=pipeline_app
PIPELINE_APP_TS_DB_PWD=pwd_pipeline_app

# Kafka setup
SOLEXPERTS_KAFKA_PASSWORD=changeme!
SOLEXPERTS_KAFKA_USERNAME=changeme!