.form-layout {
  padding: 0.5rem 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 16px;
}

.form-row {
  display: contents;
}

.full-width {
  grid-column: 1 / -1;
}

.form-column {
  display: flex;
  flex-direction: column;
}

.parameter-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px 0 0 0;
  border-style: none;
  //border-block-start: ;
}

.parameter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
