<h2 mat-dialog-title>
  {{ title() }}
</h2>
<mat-dialog-content>
  <div class="chart-container">
    @if (datasets().length === 0) {
      <div class="loading-overlay">
        <mat-progress-spinner mode="indeterminate" diameter="48"> </mat-progress-spinner>
      </div>
    }
    <canvas #canvas [style.visibility]="datasets().length === 0 ? 'hidden' : 'visible'"></canvas>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton (click)="resetZoom()">{{ 'chart.button.resetZoom' | translate }}</button>
  <button matButton mat-dialog-close>
    <mat-icon fontIcon="cancel"></mat-icon>
    {{ 'chart.button.cancel' | translate }}
  </button>
</mat-dialog-actions>
