<div class="table-header">
  @if (searchAction()) {
    <mat-form-field class="search-field" appearance="fill" subscriptSizing="dynamic">
      <mat-icon matPrefix>search</mat-icon>
      <input
        matInput
        type="search"
        [placeholder]="translationPrefix() + '.search' | translate"
        (input)="onSearch($event)"
      />
    </mat-form-field>
  }

  @if (showDownload()) {
    <button matButton="text" (click)="onDownload()">
      <mat-icon fontIcon="download"></mat-icon>
      {{ translationPrefix() + '.download' | translate }}
    </button>
  }

  @if (showCreate()) {
    <button matButton="tonal" (click)="onCreate()">
      <mat-icon fontIcon="add"></mat-icon>
      {{ translationPrefix() + '.create' | translate }}
    </button>
  }

  @if (showEdit()) {
    <button matButton="filled" [disabled]="selectedItemId() === undefined" (click)="onEdit()">
      <mat-icon fontIcon="edit"></mat-icon>
      {{ translationPrefix() + '.edit' | translate }}
    </button>
  }
</div>
