@use '@angular/material' as mat;

.snackbar-success,
.snackbar-error,
.snackbar-warning {
  .mat-mdc-snack-bar-action {
    background-color: transparent;
    color: white;
    box-shadow: none;
  }
}

.snackbar-success {
  @include mat.snack-bar-overrides(
    (
      container-color: #4caf50,
      button-color: white,
    )
  );
}

.snackbar-error {
  @include mat.snack-bar-overrides(
    (
      container-color: #f44336,
      button-color: white,
    )
  );
}

.snackbar-warning {
  @include mat.snack-bar-overrides(
    (
      container-color: #ffa500,
      button-color: white,
    )
  );
}

.toast-content {
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.toast-icon {
  flex: none;
}

.toast-header {
  display: block;
}
