<ng-template #toastTemplate let-data>
  <div class="toast-content">
    @if (data.icon) {
      <mat-icon class="material-icons toast-icon">{{ data.icon }}</mat-icon>
    }
    <span class="toast-text" matSnackBarLabel>
      @if (data.header) {
        <strong class="toast-header">{{ data.header }}</strong>
      }
      {{ data.message }}
    </span>
    <span matSnackBarActions>
      @if (data.action) {
        <button matButton matSnackBarAction (click)="runAction(data.action)">
          {{ data.action.label }}
        </button>
      }
      <button matMiniFab matSnackBarAction (click)="dismiss()">✕</button>
    </span>
  </div>
</ng-template>
