# =========================
# Compiled output / Builds
# =========================
/dist
/tmp
/out-tsc
/bazel-out
/**/generated/
package-lock.json

# =========================
# Node & Dependencies
# =========================
/node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# =========================
# Angular & Caching
# =========================
/.angular/cache
.sass-cache/

# =========================
# Testing & Miscellaneous
# =========================
/coverage
/typings
__screenshots__/
/connect.lock
/libpeerconnection.log
testem.log
.vitest-attachments/
